# Run the Streamlit app
CMD ["streamlit", "run", "app.py", "--server.port=7860", "--server.address=0.0.0.0"]
 requ.txt
streamlit==1.30.0
llama-parse
sentence-transformers
pypdf
chromadb
nltk
openai
google-generativeai
llama-index==0.10.14
llama-index-embeddings-huggingface
llama-index==0.10.14
llama-index-vector-stores-chroma
